{% extends 'adminbase.html.twig' %}

{% block title %}Admin {% endblock %}

{% block body %}
<section class="slider">
        <div class="container">
<div class="jumbotron">
  <h6 class="display-4">Tableau de board administrateur</h6>
 
</div>
</div>
</section>
{% endblock %}
